@page
@model Client2.Views.Client.InfoClient

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">FullName</th>
            <th scope="col">OrdersNum</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in this.Model)
        {
            <tr>
                <th scope="row">@forecast.Id</th>
                <td>@forecast.Address</td>
                <td>@forecast.FullName</td>
                <td>@forecast.OrdersNum</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>