@model System.Collections.Generic.IEnumerable<Client2.Models.Client>

@{
    ViewBag.Title = "title";
    Layout = "ListClient";
}

<h2>List of Clients</h2>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">FullName</th>
            <th scope="col">OrdersNum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayNameFor(model => model.Address)</td>
            <td>@Html.DisplayNameFor(model => model.FullName)</td>
            <td>@Html.DisplayNameFor(model => model.OrdersNum)</td>
        </tr>
        </tbody>
    </table>
</div>